.contact{
    position: absolute;
    margin-top: 90px;
    margin-left: 500px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 30px;
    color: #fcfc;
}
.wrapper_contact{
    width:420px;
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 25px 25px rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 30px 40px;

}
.wrapper_contact h1{
    font-size: 36px;
    text-align: center;
}
.wrapper_contact .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.wrapper_contact .btn{
    width: 100%;
    height: 45px;
    background: #fcfc;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.wrapper_contact .btn:hover{
    color: #333;
    background: #fcfc;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
@media (max-width: 460px) {
    .contact{
        margin-left: 0;
    margin-top: 70px;
    }
    .wrapper_contact{
        padding: 30px 30px;
    }
    .wrapper_contact h1{
        font-size: 50px;
    }
    .wrapper_contact .input-box{
        height: 60px;
    }
    .input-box input{
        font-size: 25px;
    }
    .wrapper_contact .btn{
        height: 50px;
        font-size: 25px;
    }
}
